/.cph
/.vscode
/array_zero_positive_negative.cpp
/binary.cpp
/binary.exe
/ffj.c
/ffj.cpp
/ffj.exe
/greatest_num.cpp
/greatest_num.exe
/output
/palandromic.cpp
/palandromic.exe
/palandromic_pattern.cpp
/palandromic_pattern.exe
/pascle-triangle.cpp
/practice.cpp
/practices.c
/practices.exe
/star pattern;.cpp
/star pattern;.exe
/Untitled-1.c